#experiencia {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 2.5rem;
  gap: 6rem;
  margin-bottom: 2rem;
}

#experiencia h1 {
  font-size: 8rem;
  word-break: break-all;
  color: var(--greyprimary);
}

.descricao-experiencia {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-column: 2;
  gap: 4rem;
}

.descricao-experiencia p {
  color: var(--greyprimary);
  font-size: 20px;
}

.projeto-habilidades {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  background-color: var(--greyprimary);
  padding: 1rem;
  border-radius: 6px;
  align-content: center;
}

.projeto-habilidades::before {
  content: "";
  top: 2.4rem;
  left: 0;
  position: absolute;
  width: 4px;
  height: 20px;
  background-color: #ffc100;
}

.projeto-habilidades h4 {
  font-size: 1.2rem;
}

.caixa-projeto {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  grid-column: 1;
}

.caixa-projeto p {
  color: #414141;
  font-size: 1rem;
  text-align: start;
}

.caixa-habilidades {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  grid-column: 2;
}

.caixa-habilidades ul {
  display: flex;
  gap: 0.5rem;
}

.caixa-habilidades ul li {
  background-color: var(--whiteprimary);
  padding: 8px 8px 8px 8px;
  list-style: none;
  border-radius: 6px;
  font-size: 1rem;
  color: #414141;
}
